$navbar-height: 80px;

nav.navbar {
  padding: 0;
  margin: none;
  height: $navbar-height;
  .container-fluid {
    padding: 0 40px;
    display: flex;
    height: inherit;
    .header-logo {
      height: 28px;
    }
  }
}

nav.navbar {
  background: none;
  .container {
    background: none;
  }
}

// nav.navbar {
//   background: gold;
//   .container-fluid {
//     background: red;
//     .header-logo {
//       height: 34px;
//       margin: 0 auto;
//     }
//   }
// }
